@media (max-width: 1440px) {
    .cardContainer{
        width: 250px;
        height: 250px;
        font-size: 0.8rem;
        img {
            width: 150px;
            height: 150px;
        }
        
    }
}

@media (max-width: 1024px) {
    .cardContainer{
        width: 220px;
        height: 220px;
        font-size: 0.7rem;
        img {
            width: 120px;
            height: 120px;
        }
    }
    .gameContainer {
        border: 1px solid;
    align-items: center;
    height: 15rem;
    width: 26rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 150px;
        height: 150px;
    }
    p {
        font-family: $kirbyfont;
    }
    }
    .yt {
        width: 60rem;
    }
    .fanContainer {
        border: 1px solid;
    border-radius: 15rem;
    align-items: center;
    height: 18rem;
    width: 27rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 220px;
        height: 220px;
        border-radius: 12rem;
    }
    p {
        font-family: $kirbyfont;
    }
    }
}

@media (max-width: 1024px) {
    .cardContainer{
        width: 220px;
        height: 220px;
        font-size: 0.7rem;
        img {
            width: 120px;
            height: 120px;
        }
    }
    .gameContainer {
        border: 1px solid;
    align-items: center;
    height: 15rem;
    width: 26rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 150px;
        height: 150px;
    }
    p {
        font-family: $kirbyfont;
    }
    }
    .yt {
        width: 60rem;
    }
    .fanContainer {
        border: 1px solid;
    border-radius: 15rem;
    align-items: center;
    height: 18rem;
    width: 27rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 220px;
        height: 220px;
        border-radius: 12rem;
    }
    p {
        font-family: $kirbyfont;
    }
    }
}

@media (max-height: 1024px) {
    .cardContainer{
        width: 16rem;
        height: 15rem;
        font-size: 0.7rem;
        img {
            width: 120px;
            height: 120px;
        }
    }
}

@media (max-height: 768px) {
    
    .yt {
        height: 35rem;
    }

    .fanContainer {
        height: 15rem;
    }
}

@media (max-width: 768px) {
    
    .cardContainer{
        width: 200px;
        height: 200px;
        font-size: 0.65rem;
        img {
            width: 110px;
            height: 110px;
        }
    }
    .gameContainer {
        border: 1px solid;
    align-items: center;
    height: 12rem;
    width: 40rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 190px;
        height: 190px;
    }
    p {
        font-family: $kirbyfont;
        font-size: 1rem;
    }
    }
    .yt {
        width: 40rem;
    }
    .fanContainer {
        border: 1px solid;
    border-radius: 15rem;
    align-items: center;
    height: 12rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 190px;
        height: 190px;
        border-radius: 12rem;
    }
    p {
        font-family: $kirbyfont;
    }
    }
}

@media (max-width: 425px) {
    
    .headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $kirby;
    padding: 20px;
    flex-wrap: wrap;
    }

    .headerContainer ul li a {
        border: solid 0px;
        display: block;

    }

    .cardContainer{
        width: 6.25rem;
        height: 6.25rem;
        font-size: 0.3rem;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .gameContainer {
        border: 1px solid;
    align-items: center;
    height: 12rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 100px;
        height: 100px;
    }
    p {
        font-family: $kirbyfont;
        font-size: 0.65rem;
    }
    }
    .yt {
        width: 60rem;
    }
    .fanContainer {
        border: 1px solid;
    border-radius: 15rem;
    align-items: center;
    height: 10rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $card;
    img {
        width: 100px;
        height: 100px;
        border-radius: 12rem;
    }
    p {
        font-family: $kirbyfont;
    }
    }
}







